# Ignore logs
*.log

# Ignore generated Intune packages in user-packages, but keep the folder itself
storage/user-packages/*
!storage/user-packages/.gitkeep

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore VS Code workspace settings
.vscode/
